@model BibliotecaIntegrador.Models.Genero
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar genero</title>
</head>
<body>
    <div>
        <h1>Agregar nuevo genero:</h1>
        <form method="post">
            Nombre del genero:
            <input type="text" name="Nombre" value="" />
            <button>Enviar nuevo genero</button>
        </form>
    </div>
</body>
</html>
