@model BibliotecaIntegrador.Models.Autores
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>agregarAutor</title>
</head>
<body>
    <div>
        <h1>Agregar nuevo autor:</h1>
        <form method="post">
            Nombre del autor:
            <input type="text" name="Nombre" value="" />
            Contacto:
            <input type="text" name="Contacto" value="" />
            <button>Enviar nuevo autor</button>
        </form>
    </div>
</body>
</html>
